
@model IEnumerable<Shopee.Models.CartModel>

@{
    bool dataFound = false;
    int row = 1;
}

<h1 class="text-center" style="color:white">Cart🛒</h1>
<div class="card" style="padding: 50px 50px;">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead style="background-color:darkgrey;color:black">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            dataFound = true;
                        }
                        <td>@(row++)</td>
                        <td>@item.Inventory.ItemName</td>
                        <td>@item.Inventory.ItemType</td>
                        <td>$@item.Inventory.ItemPrice</td>
                        <td>@item.Inventory.ItemQuantity</td>
                        <td>&nbsp;@(item.Quantity)&nbsp;<a asp-action="AddOrSubQuantity" asp-route-userId="@(ViewBag.UserId)" asp-route-cartId="@item.CartId" asp-route-ops="1" class="btn btn-sm">➕</a><a asp-route-userId="@(ViewBag.UserId)" asp-action="AddOrSubQuantity" asp-route-cartId="@item.CartId" asp-route-ops="-1" class="btn btn-sm">➖</a></td>
                    </tr>
                }
                
            </tbody>  
        </table>
        <h4 class="bg-warning text-center" style="color:dimgrey;font-size:25px">Grand total: $@ViewBag.total</h4>
        <div class="text-center">

        
        @if (dataFound)
        {
             <a asp-action="Buy" asp-route-userId="@(ViewBag.UserId)" class="btn btn-success">Buy Now</a>
        }
        <a asp-action="Index" asp-route-userId="@(ViewBag.UserId)" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>
