@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<OrderModel> 

<h1 class="text-center text-white">Orders</h1>
<br />
<div class="text-end">
    <a class="btn btn-danger" asp-action="Index" asp-route-userId="@ViewBag.UserId">Back</a>
</div>
<br />

<div class="row">
    @foreach (var item in Model){
        <div class="card" style="width:12rem; margin-right:30px">
            <div class="card-body">
                <span class="bg-warning" style="font-weight:bolder;padding:3px 3px">@(item.ItemName.ToUpper())</span>
                <span class="bg-danger text-white" style="padding:3px 3px">@item.ItemType</span>
                <p class="bg-primary text-white" style="margin-top:5px">Quantity: @item.Quantity</p>
                <hr />
            
                <h5><i>$@item.TotalAmount</i></h5>
                <span>@(item.Date)</span>
                @if (item.Date.AddMinutes(1) <= DateTime.Now)
                {
                    <p class="text-success"><b>Delivered</b></p>
                }
                else
                {
                   <p class="text-waring"><b>Shipped</b></p> 
                }
            </div>
        </div>
        <br />
}
</div>
